.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-body {
  display: flex;
  margin-top: 48px;
  flex: 1;
}

.layout-main {
  flex: 1;
  margin-left: 240px;
  padding: 24px 32px;
  background-color: white;
  min-height: calc(100vh - 48px);
}
